# Terraform-specific files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

# Ansible cache files
ansible/*.retry

# Logs & system files
*.log
*.DS_Store
